@media only screen and (min-width: 300px) and (max-width: 800px) {
    body{
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar{
        justify-content: center;
    }

    .list{
        justify-content: center;
        margin: 0;
    }
    
    .card-content{
        width: 90%;
        height: 450px;
        background-image: none;
    }

    .nucba-icon{
        display: none;
    }

    .title{
        text-align: center;
        margin: 0 auto;
        width: 90%;
        font-size: 25px;
    }

    .paragraph{
        margin: 30px auto;
        width: 90%;
        text-align: center;
    }

    .personal-container{
        margin: 100px auto;
        width: 90%;
        flex-direction: column;
    }

    .personal-content{
        width: auto;
    }

    .personal-content h2{
        margin: 30px auto;
        font-size: 20px;
    }

    .personal-content p{
        text-align: justify;
        margin: 0 auto;
        width: 90%;
    }

    #pic{
        width: auto;
    }

    .personal-desc-container{
        width: 90%;
        height: 300px;
    }

    .advantages-container{
        width: 90%;
        height: auto;
    }

    .benefits{
        font-size: 13px;
        margin-top: 40px;
        flex-direction: column;
    }

    .benefits p{
        margin-bottom: 40px;
    }

    .how-work{
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .work-title{
        text-align: center;
        margin: 30px 0;
    }

    .work-title h2{
        margin: 20px 0;
    }

    .work-list{
        flex-direction: column;
    }

    .work-list-content{
        margin-bottom: 30px;
    }


}

@media only screen and (min-width: 801px) and (max-width: 1200px){

    body{
        background-repeat: repeat;
        background-size: cover;
    }

    .card-content{
        width: 90%;
        background-position: 100% 100%;
    }

    .nucba-icon{
        margin: 0 -80%;
    }

    .personal-container{
        width: 90%;
    }

    .personal-desc-container{
        width: 90%;
    }

    .advantages-container{
        width: 90%;
        height: 400px;
    }

    .benefits{
        font-size: 13px;
        margin: 0 10px;
    }

    .how-work{
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .work-title{
        text-align: center;
        margin: 30px 0;
    }

    .work-title h2{
        margin: 20px 0;
    }

    .work-list{
        flex-direction: column;
    }

    .work-list-content{
        margin-bottom: 30px;
    }


}