@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background-image: url(./images/background-minimalist.jpg);
    background-size: 100%;
}

.card-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.card-content{
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.418);
    background-color: rgba(255, 255, 255, 0.904);
    background-image: url(./images/people-minimalist.jpg);
    background-size: 450px;
    background-position: 400px 300px;
    background-repeat: no-repeat;
    width: 900px;
    height: 700px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
}

.list{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
    gap: 25px;
    margin-right: 40px;
    color: rgb(10, 10, 100);
    cursor: pointer;
}

.nucba-icon{
    width: 50px;
    display: flex;
    position: absolute;
    margin-left: -760px;
    margin-top: 20px;
}

.title{
    text-align: start;
    width: 350px;
    margin-top: 100px;
    margin-left: 85px;
}

.paragraph{
    width: 300px;
    margin-left: 85px;
    margin-top: 50px;
    font-weight: bold;
    color: rgb(13, 13, 134);
}

.boton{
    margin: 10px;
    margin-top: 50px;
    margin-left: 80px;
}

#btn-switch{
    appearance: none;
}

.lbl-switch{
    display: inline-block;
    width: 150px;
    height: 35px;
    background-color: #91daec;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

#btn-switch:checked~ .lbl-switch{
    background-color: #91daec;
}

.lbl-switch::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 35px;
    background-color: black;
    border-radius: 100px;
    top: 0px;
    left: 80px;
    transition: 0.3s;
}

#btn-switch:checked~ .lbl-switch::after {
    background-color: rgb(0, 0, 0);
    left: 0px;
}

.personal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.822);
    width: 50%;
    margin: 200px auto 0;
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.418);
}

.personal-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.personal-content h2{
    margin: 0 auto 30px;
}

.personal-pic{
    display: flex;
    justify-content: center;
}

#faq{
    width: 300px;
    padding: 20px;
}

.personal-btn{
    display: flex;
    justify-content: center;
}

.personal-btn button{
    border: none;
    background-color: rgb(185, 89, 89);
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px 10px;
    text-transform: uppercase;
}

.personal-btn button:hover{
    background-color: black;
    transition: 1s;
}

.personal-desc-container{
    width: 900px;
    height: 400px;
    background-color: white;
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.418);
    margin:100px auto;
    width: 50%;
}

.personal-desc-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-desc-content p{
    width: 80%;
    text-align: center;
}